*
{
    box-sizing: content-box;
}

object
{
    width: 100px;
    margin: 10px 30px;
}

body
{
    margin: 0;
    height: 2000px;
    font-family: Arial;
}

h1
{
    font-weight: 700;
    font-size: 70px;
}

p
{
    font-size: 20px;
}

.hero
{
    background-image: url("../beach_hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -50px;
}

.heroContent
{
    background-color: #000000aa;
    height: 700px;
    color: white;
    align-content: center;
}

.heroText
{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.about
{
    display: flex;
    padding: 50px;
}

.aboutText
{
    width: 30%;
    padding: 50px;
}

.aboutCarousel
{
    display: flex;
    justify-content: center;
}

.imageCropper
{
    width: 800px;
    height: 400px;
}

#aboutCarouselContent
{
    margin-left: 150px;
}

#aboutCarouselContent > div > div:first-child > div
{
    background-image: url("../boracay.webp");
    background-size: cover;
}

#aboutCarouselContent > div > div:nth-child(2) > div
{
    background-image: url("../everest.webp");
    background-size: cover;
    background-position-y: -100px;
}

#aboutCarouselContent > div > div:last-child > div
{
    background-image: url("../eiffelTower.jpg");
    background-size: cover;
}